myvenv
*.pdf
targets.md
NOTES.md
*.jpg
*.jpeg
*.rgb
*.txt
5_deep_learning_in_tech_comp_vision.py
ESP32_GENERIC-20240602-v1.23.0.bin
dogs_cat.py
first.py
houses.py
imdb.py
imdb2.py
informlent.py
main.py
model.keras
model.keras1
modelCATDOG.keras
new_model1920.h5
.idea/
.vscode/
*.png